*{
  padding: 0;
  margin: 0;
}
table{
  border: 3px solid black;
  margin: 5px;
}
table>tr>th,td{
  padding:  5px 35px;
   border: 1px solid black;
}
form{
  width: 400px;
  margin: auto;
}
form>div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input{
  padding: 5px 10px;
}


.cart{
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    text-wrap:warp;
    width:300px ;
}

img{
    height: 200px;
    width: 100%;
}
